.workout {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 120px; /* 100% */
    letter-spacing: -2px;
    margin-top: 200px;
}
.workoutDiv {
  width: 800px;
  height: 700px;
  position: absolute;
}
.loremip {
  width: 999px;
  height: 733px;
  background-color: #3b3b3b;
  color: #FFF;
  position: absolute;
  right: 0px;
  top: 1810px;

}
.loremip h1 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 200% */
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
  width: 600px;
  margin-left: 350px;
  margin-top: 120px;
}
.loremip button {
  color: #FFF;
  background-color: #25AB75;
  width: 200px;
  height: 70px;
  margin-left: 350px;
  margin-top: 80px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  letter-spacing: 1px;
}