.app{
  height: 100vh;
  margin: 30px 80px;
}

/**Navbar**/

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
.titleName {
  color: #FFF;
  background-color: black;
  font-weight: bolder;
  cursor: pointer;
}
.links {
  display: flex;
  cursor: pointer;
  color: white;
}
.navbar .links li {
  margin: 0 25px;
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: 12px;
}

/**first section**/

.heroSection{
  background-image: url("./img/image1.png");
  background-repeat: no-repeat;
  background-position-x: 490px;
  background-position-y: -180px;

}
.intensity {
  color: #919191;
}
.intro {
  color: #FFF;
  display: flex;
  border-radius: 200px;
  background-color: #3d3d3d;
  width: 349px;
  height: 32px;
  padding-top: 3px;
  padding-left: 3px;
  margin-top: 60px;

}
.green {
  border-radius: 200px;
  background: #25AB75;
  width: 46px;
  height: 26px;
  padding-left: 6px;
  margin-right: 5px;
}
.cardio {
  color: #FFF;
  font-size: 200px;
  font-style: normal;
  font-weight: 600;
  line-height: 170px; /* 85% */
  letter-spacing: -2px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}
.lorem {
  color: #919191;
  font-size: 16px;
  font-style: normal;
  font-weight: lighter;
  line-height: 29px; /* 181.25% */
  letter-spacing: 0.5px;
  width: 600px;
  margin-top: 30px;
}
.getStarted{
  width: 200px;
  height: 70px;
  border-radius: 10px;
  background-color: #25AB75;
  margin-top: 50px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  letter-spacing: 1px;
  margin-right: 30px;
}
.preview{
  width: 200px;
  height: 70px;
  border-radius: 10px;
  color: #FFF;
  background-color: #3b3b3b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  letter-spacing: 1px;
}
.timer{
  width: 166px;
  height: 98px;
  border-radius: 20px;
  color: #FFF;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  position: absolute;
  right: 80px;
  top: 320px;
}
.timer-2 {
  width: 166px;
  height: 98px;
  border-radius: 20px;
  color: #FFF;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  position: absolute;
  right: 80px;
  top: 440px;
}
.timeValue {
  color: #FFE642;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 100% */
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
.timeValue-2 {
  color: #FB1351;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 100% */
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
.time {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 100% */
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
.exercises {
  color: #FFF;
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  margin-bottom: 40px;
}
.exercises h1 {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 128.571% */
  letter-spacing: 0.3px;
}
.exercises button {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 1.5px;
  margin-top: 20px;
}


/**Exercises Card**/
.wholeExercise {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.Card_1 {
  color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/Threadmill.png");
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.Card_1 h6 {
  padding-top: 200px;
}
.Card_2 {
  color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/Stretching.png");
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.Card_2 h6 {
  padding-top: 200px;
}
.Card_3 {
  color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/yoga.png");
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.Card_3 h6 {
  padding-top: 200px;
}
.Card_4 {
  color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/Running.png");
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.Card_4 h6 {
  padding-top: 200px;
}
.Card_5 {
  color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/Lifting.png");
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.Card_5 h6 {
  padding-top: 200px;
}
.Card_6 {
  color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/PushUp.png");
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.Card_6 h6 {
  padding-top: 200px;
}


/**toggle**/
.toggleList {
  height: 190px;
  width: 290px;
  background-color: #3b3b3b;
  position: absolute;
  right: 80px;
  top: 50px;
  flex-direction: column;
  display: none;
}
.toggleListItem li {
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 17px;
}
/** second section*/
  .workout {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 120px; /* 100% */
    letter-spacing: -2px;
    margin-top: 200px;
}
.workoutDiv {
  width: 800px;
  height: 700px;
  position: absolute;
}
.loremip {
  width: 999px;
  height: 733px;
  background-color: #3b3b3b;
  color: #FFF;
  position: absolute;
  right: 0px;
  top: 1810px;

}
.loremip h1 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 200% */
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
  width: 600px;
  margin-left: 350px;
  margin-top: 120px;
}
.loremip button {
  color: #FFF;
  background-color: #25AB75;
  width: 200px;
  height: 70px;
  margin-left: 350px;
  margin-top: 80px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  letter-spacing: 1px;
}
